<h1 class="title">{{site.about_me_title}}</h1>
<!-- <div id="slideshow">
    <div class="slide-wrapper">

        v<!-- Define each of the slides
     and write the content v-v->v

        <div class="slide">
            <img src="assets/img/VRARshoot.png" alt="About Me" class="slide-image" />
        </div>
        <div class="slide">
            <h1 class="slide-number">
                A computer science portal
            </h1>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                This is an example of
            </h1>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                Slideshow with HTML and CSS only
            </h1>
        </div>
    </div>
</div> -->
<center>
    <img src="assets/img/Scott, J 1008.JPG" alt="About Me" class="slide-image" style="width: 25%; height: auto;" data-aos="fade-down"/>
</center>

<p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
