<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="meche" name="filter" />
  <label class="filter-button neumorphism-button" for="meche">Mechanical Engineering</label>
  <input type="radio" id="cs" name="filter" />
  <label class="filter-button neumorphism-button" for="cs">Computer Science</label>
  <input type="radio" id="humanities" name="filter" />
  <label class="filter-button neumorphism-button" for="humanities">Humanities</label>

  {% for meche in site.data.skills-meche %}
    <div skill-type="meche" skill-weight="{{meche.weight}}" data-aos="zoom-in">
      {{meche.name}}
    </div>
  {% endfor %}
  {% for cs in site.data.skills-cs %}
    <div skill-type="cs" skill-weight="{{cs.weight}}" data-aos="zoom-in">
      {{cs.name}}
    </div>
  {% endfor %}
  {% for humanities in site.data.skills-humanities %}
    <div skill-type="humanities" skill-weight="{{humanities.weight}}" data-aos="zoom-in">
      {{humanities.name}}
    </div>
  {% endfor %}
</div>
